@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
	@apply w-full font-bold py-2 px-4 rounded;
}

.btn-blue {
	@apply bg-blue-500 text-white;
}

.btn-blue:hover {
	@apply bg-blue-700;
}

label.required::after {
	padding-left: 5px;
	color: #c53030;
	content: "*";
}
